{% extends "base.html" %}
{% block content %}
<div class="container mt-5">
  <div class="mb-3">
  <label class="form-label">Category</label>
  <select name="category" class="form-select" required>
    <option value="">-- Select Category --</option>
    <option value="Electronics">Electronics</option>
    <option value="Fashion">Fashion</option>
    <option value="Home & Kitchen">Home & Kitchen</option>
    <option value="Others">Others</option>
  </select>
</div>

  <h2>Add Product</h2>
  <form method="POST" enctype="multipart/form-data">
  <input type="text" name="name" class="form-control mb-2" placeholder="Name" required>
  <textarea name="description" class="form-control mb-2" placeholder="Description" required></textarea>
  <input type="number" name="price" class="form-control mb-2" placeholder="Price" required>
  <input type="number" name="stock" class="form-control mb-2" placeholder="Stock" required>
  <input type="file" name="image" class="form-control mb-3">

  <button class="btn btn-success">Add Product</button>
</form>

</div>
{% endblock %}
